<div class="show-mobile">
  <div>
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    <a href="">
      <img width='150px' src="./assets/img/logo.png" alt="logo">
    </a>
    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>


</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img width="100px" src="./assets/img/logo.png" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">nicolas@nicolas.com</div>
      <div>
        <a href="">
          <img src="./assets/img/logo.png" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
